<div class="contenedor-general">
  <div class="sub-cotenedor">
    <div class="seccion title">Filete de pollo</div>
    <div class="seccion image">
      <img src="/assets/img/San-Fernando.jpg" alt="imagen" />
    </div>
    <div class="seccion description">
      <div class="description-title">Description</div>
      <div class="description-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Perspiciatis aperiam illum
        dolorum accusantium autem dolores dicta cumque animi ut sint recusandae
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        exercitationem saepe voluptate velit. Dolorem praesentium ipsam
        repellendus vero temporibus cupiditate qui quae laudantium ratione
        perferendis fugiat, labore exercitationem voluptate laborum. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Sint optio maxime, impedit
        excepturi velit fuga officiis repudiandae sequi corrupti vero repellat.
        Natus ex optio ad necessitatibus maxime recusandae assumenda non.
      </div>
    </div>
    <div class="seccion botton">
      <div class="date">
        <div class="date-title">Publication date:</div>
        <div class="date-text">07-01-2023</div>
      </div>
      <div class="buy-button">Buy</div>
    </div>
  </div>
</div>
