/* -------------TITLE--------------- */

.seccion.title{
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    background-color: #666666;

    
}

/* ------------IMAGE------------ */


.seccion.image {
    display: flex;
    justify-content: center;
    margin: 5px 20px;
}

.seccion.image > img{
    width: 100%;
}


/* -------------DESCRIPTION------------ */


.seccion.description{
    margin: 20px 10px 0px 10px;
}

.seccion.description > .description-title{
    margin: 5px 0px;
}

.seccion.description > .description-text{
    background-color: #666666;
    padding: 10px;
    border-radius: 3px;
}

/* ------------SECCION-BOTTON-------------- */


.seccion.botton{
    align-self: flex-end;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin: 5px 10px 10px 10px;


}

/* ------------SECCION-BOTTON-STUFF-------------- */


.seccion.botton > .date{
    padding: 10px;
    
    background-color: #666666;
    border-radius: 3px;
}

.seccion.botton > .date > .date-title{
    padding: 2px;
}

.seccion.botton > .date > .date-text{
    padding: 2px;
}

.seccion.botton > .buy-button{
    padding: 10px 35px;

    background-color: #379C4E;
    border-radius: 3px;
    align-self: flex-end;
    cursor: pointer;
    user-select: none;
}

.seccion.botton > .buy-button:hover{
    background-color: #379c4fd7;
}
.seccion.botton > .buy-button:active{
    transform: scale(0.98);
}