<div class="contenedorProducto" [class.selectedProduct]="" role="button" tabindex="0" (click)="obtener()">


  <div class="contenedor Arriba">
    <div class="titulo">
      <span>{{ Products?.title }}</span>
    </div>


    <div class="categoria">

      <span [ngClass]="categorySelector(Products?.idCategory!).class"> {{categorySelector(Products?.idCategory!).type}}
      </span>

    </div>



    <div class="informacion">
      <span class="stock-text">Stock</span>
      <div class="stock">x{{ Products?.stock }}</div>
      <span class="price-text">Price</span>
      <div class="price">{{ Products?.price }}$</div>
      @if(isOrderUrl){<div class="quantity">x{{ Products?.orderQuantity }}</div>}

    </div>
  </div>
  <div class="contenedor Abajo">
    <div class="descripcionContenedor">
      <span class="descriptioSpan">Description</span>
      <div class="descriptionText">
        <span>{{ Products?.description }}</span>
      </div>
    </div>
    <div class="interaction">
      @if(canBuy && !isOrderUrl){
      <div class="buy" role="button" tabindex="0" (click)="MakeOrder()">Order</div>
      }
      @if(canDelete){
      <div class="delete" role="button" tabIndex="0" (click)="delete()">Delete</div>
      }
      @if(isOrderUrl){
      <div class="delete" role="button" tabIndex="0" (click)="deleteOrder()">Delete order</div>
      }
    </div>
  </div>
</div>