<div class="contenedorProducto">
  <div class="contenedor Arriba">
    <div class="titulo">
      <span>Titulo</span>
    </div>
    <div class="categoria">
      <span>Category</span>
    </div>
    <div class="informacion">
      <span>Stock</span>
      <div class="stock">0</div>
      <span>Price</span>
      <div class="price">0$</div>
    </div>
  </div>
  <div class="contenedor Abajo">
    <div class="descripcionContenedor">
      <span class="descriptioSpan">Description</span>
      <div class="descriptionText">
        <span
          >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id est ut
          consequuntur perferendis similique</span
        >
      </div>
    </div>
    <div class="interaction">
      <div class="buy" role="button" tabindex="0" (click)="obtener()">Buy</div>
      <div></div>
    </div>
  </div>
</div>
