.contenedor.Abajo{
    margin: 5px 12px 12px 12px;
}

.descripcionContenedor{
    background-color: #666666;
    display: grid;
}


.descriptioSpan{
    padding: 10px 10px 10px 10px;
    font-size: 1.2rem;
}

.descriptionText{
    padding: 0px 10px 10px 10px;
}

/* --------------------- */

.interaction{
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: end;

    margin-left: 30px;
}


/* Buttons */
.buy{
    padding: 10px 30px;
    background-color: #379C4E;
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
}



.delete{
    padding: 10px 30px;
    background-color: #9C3737;
    cursor: pointer;
    user-select: none;
    margin-left: 5px;

}


/* Buttons Interaction */

.buy:hover{
    background-color: #379c4fd7;
}

.buy:active{
    transform: scale(0.96);
}



.delete:hover{
    background-color: #9c3737b7;
}

.delete:active{
    transform: scale(0.96);
}