<nav>
  <div class="subNavBar">
    <ul class="listaNav">
      <li>
        <a href="">Publications</a>
      </li>
      <li>
        <a href="/edit">Edit</a>
      </li>
      <li>
        <a href="/create">Create</a>
      </li>
    </ul>
    <div class="leftContainer">
      <div class="options" role="button" tabindex="0" (click)="DesplegarMenu()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="50"
          viewBox="0 -960 960 960"
          width="50"
        >
          <path
            d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
          />
        </svg>
        @if (mostrar == true) {
        <ul class="menu-Desplegable">
          <li><a href="login">Log In</a></li>
          <li><a href="signup">Sign Up</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
        }
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- componente publicacion con subcomponentes de mostrar-producto
y descripcion-producto, asi con los demas de edit, crear -->

<footer></footer>
