footer{
    height: 200px;
    background-color: #343030;
    min-width: 370px;
    margin-top: 10px;

    display: grid;
    grid-template-rows: 100px 75px 50px;
    /* align-items: end; */
    color: white;
}

footer > :nth-child(1){
    background-color: #2C2C2C;
    height: 100%;
}


footer > :nth-child(2){
    background-color: #383838;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


footer > :nth-child(2) > a >  i{
    margin: 10px;

}

footer > :nth-child(3){
    background-color:#4E4E4E;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}
footer > :nth-child(3){

    user-select: none;
}

