<div class="contenedor-general">
  <div class="sub-cotenedor">
    <div class="seccion title">{{ Product?.title }}</div>
    <div class="seccion image">
      <img [ngStyle]="imgStyle" [src]="initialPath + Product?.imageRoute" alt="imagen" (load)="IsAlreadyLoaded()" />

      @if (!ImageComplete) {
      <app-loading-circle></app-loading-circle>
      }

    </div>
    <div class="seccion description">
      <div class="description-title">Description</div>
      <div class="description-text">
        {{ Product?.description }}
      </div>
    </div>
    <div class="seccion botton">
      <div class="date">
        <div class="date-title">Publication date:</div>
        <div class="date-text">{{ Product?.date }}</div>
      </div>


      <div class="OrderQuantity-container">
        <div class="OrderQuantity-title">
          <span>Quantity</span>
        </div>
        <div class="OrderQuantity-subtract" tabindex="0" role="button" (click)="substrack()">
          <span class="material-symbols-outlined"> remove </span>
        </div>
        <input type="number" class="OrderQuantity-input" [value]="orderQuantity" (input)="onStockChange($event)" min="0"
          max="1000" />
        <div class="OrderQuantity-add" tabindex="0" role="button" (click)="add()">
          <span class="material-symbols-outlined"> add </span>
        </div>
      </div>


      @if(Product?.title == null || !canBuy){
      <div role="button" tabindex="0" class="buy-button-wrong">Order</div>
      }
      @else{
      <div role="button" tabindex="0" class="buy-button" (click)="makeOrder()">Order</div>
      }
    </div>
  </div>
</div>