<div class="contenedorProducto" role="button" tabindex="0">
  <div class="contenedor Arriba">
    <div class="titulo">
      <span>TITLE</span>
    </div>
    <div class="categoria">
      <!-- @switch (Products?.category) { @case ("Vegetables") {
        <span class="material-symbols-outlined vegetabol"> icecream </span>
        } @case ("Fruits") {
        <span class="material-symbols-outlined fruits"> nutrition </span>
        } } -->
      <span class="material-symbols-outlined fruits"> nutrition </span>
    </div>
    <div class="informacion">
      <span>Stock</span>
      <div class="stock">0</div>
      <span>Price</span>
      <div class="price">0$</div>
    </div>
  </div>
  <div class="contenedor Abajo">
    <div class="descripcionContenedor">
      <span class="descriptioSpan">Description</span>
      <div class="descriptionText">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
          quibusdam id similique consequatur error accusantium soluta magni
          saepe quia tenetur esse in corporis, sint quae delectus. Reiciendis
          impedit non eaque.</span
        >
      </div>
    </div>
    <div class="interaction">
      <!-- <div class="buy" role="button" tabindex="0" (click)="obtener()">Buy</div> -->
    </div>
  </div>
</div>
