<div class="contenedorProducto" role="button" tabindex="0">
  <div class="contenedor Arriba">
    <div class="titulo">
      <span>{{prev?.title}}</span>
    </div>
    <div class="categoria">
      <!-- @switch (Products?.category) { @case ("Vegetables") {
        <span class="material-symbols-outlined vegetabol"> icecream </span>
        } @case ("Fruits") {
        <span class="material-symbols-outlined fruits"> nutrition </span>
        } } -->
      <span [ngClass]="categorySelector(prev?.category!).class"> {{categorySelector(prev?.category!).type}} </span>
    </div>
    <div class="informacion">
      <span>Stock</span>
      <div class="stock">{{prev?.stock}}</div>
      <span>Price</span>
      <div class="price">{{prev?.price + "$"}}</div>
    </div>
  </div>
  <div class="contenedor Abajo">
    <div class="descripcionContenedor">
      <span class="descriptioSpan">Description</span>
      <div class="descriptionText">
        <span>{{prev?.description}}</span>
      </div>
    </div>
    <div class="interaction">
      <!-- <div class="buy" role="button" tabindex="0" (click)="obtener()">Buy</div> -->
    </div>
  </div>
</div>