body{
    font-family: 'Josefin Sans', sans-serif;
    /* border-radius: 10px; */
}


.toastr {
    font-family: 'Josefin Sans', sans-serif;

    font-size: 16px !important; /* You can also adjust the font size */
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important; 
    border-radius: 0 !important; /* Set to 0 for sharp corners */
}

.toast-success {

    font-size: 16px !important; /* You can also adjust the font size */
    box-shadow: none !important;
    border: none !important;
    /* background-color: transparent !important;  */
    border-radius: 0 !important; /* Set to 0 for sharp corners */
}

.toast-top-right {
    right: 30px !important; /* Increase this value to move further right */
    top: 40px !important; /* Optional: adjust the bottom spacing */
}

button, input, div {
    border-radius: 5px;
  }