body{
    font-family: 'Josefin Sans', sans-serif;
}

.custom-snackbar {
    font-family: 'Josefin Sans', sans-serif;

    background-color: aquamarine  ;
    color: #fff;             /* Change text color */
    font-size: 16px;          /* Adjust font size */
    border-radius: 8px;       /* Add rounded corners */
    padding: 16px;            /* Add padding */

  }

.custom-snackbar.mat-snack-bar-container {
    background-color: #ff5722 !important;  /* Custom background color */
}

