<div class="filter-Container">
  <ul>
    <li [ngStyle]="ButtonMinPrice" role="button" tabindex="0" (click)="clickMinPrice()">
      <span>Min price</span>
    </li>
    <li [ngStyle]="ButtonMaxPrice" role="button" tabindex="0" (click)="clickMaxPrice()">
      <span>Max price</span>
    </li>
    <li class="category">
      <span>Category</span>
      <ul class="dropdown">
        <li>
          <span role="button" tabindex="0" (click)="setCategory(0)" class="material-symbols-outlined all">
            apps
          </span>
        </li>
        <li>
          <span role="button" tabindex="0" (click)="setCategory(1)" class="material-symbols-outlined vegetable">
            icecream
          </span>
        </li>
        <li>
          <span class="material-symbols-outlined fruits" role="button" tabindex="0" (click)="setCategory(2)">
            nutrition
          </span>
        </li>
        <li>
          <span role="button" tabindex="0" class="material-symbols-outlined meat" (click)="setCategory(3)">
            egg_alt
          </span>
        </li>

        <li>
          <span role="button" tabindex="0" class="material-symbols-outlined drinks" (click)="setCategory(4)">
            local_bar
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>