<div class="filter-Container">
  <ul>
    <li role="button" tabindex="0" (click)="clickMinPrice()">
      <span class="button-filter" [class.onClick]="state === 1">Min price</span>
    </li>
    <li role="button" tabindex="0" (click)="clickMaxPrice()">
      <span class="button-filter" [class.onClick]="state === 2">Max price</span>
    </li>
    @if (isOrderRute) {
    <li role="button" tabindex="0" (click)="deleteAllOrders()">
      <span class="delete-Orders">Delete All</span>
    </li>

    <li>
      <span class="button-filter show-total-price">Total price {{totalPrice}}$</span>
    </li>
    }
    <li class="category" [class.ubication]="isOrderRute !== true">
      <span>Category</span>
      <ul class="dropdown">
        <li>
          <span role="button" tabindex="0" (click)="setCategory(0)" class="material-symbols-outlined all">
            apps
          </span>
        </li>
        <li>
          <span role="button" tabindex="0" (click)="setCategory(1)" class="material-symbols-outlined vegetable">
            icecream
          </span>
        </li>
        <li>
          <span class="material-symbols-outlined fruits" role="button" tabindex="0" (click)="setCategory(2)">
            nutrition
          </span>
        </li>
        <li>
          <span role="button" tabindex="0" class="material-symbols-outlined meat" (click)="setCategory(3)">
            egg_alt
          </span>
        </li>

        <li>
          <span role="button" tabindex="0" class="material-symbols-outlined drinks" (click)="setCategory(4)">
            local_bar
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>