<nav>
  <div class="subNavBar">
    <ul class="listaNav">
      <li>
        <a href="">Publications</a>
      </li>
      <li>
        <a href="/edit">Edit</a>
      </li>
      <li>
        <a href="/create">Create</a>
      </li>
    </ul>
    <!-- <div class="search-Container">
      <input class="search" type="text" />
      <div class="search-Button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div> -->
    <div class="leftContainer">
      @if(isLoggin){

      <!-- <div class="num-cart-container">
        <span>0</span>
        <i class="fa-solid fa-cart-shopping fa-2xl"></i>
      </div> -->

      <div class="user-Name">
        <span>{{ UserName }}</span>
      </div>
      }
      <div class="menu" role="button" tabindex="0" (click)="DesplegarMenu()">
        <span class="material-symbols-outlined"> menu</span>
        @if (mostrar == true) {

        <ul class="dropdown">
          @if(!isLoggin){

          <li><a href="login">Log In</a></li>
          <li><a href="signup">Sign Up</a></li>

          } @else {

          <li>
            <a href="#" role="button" tabindex="0" (click)="LogOut()">Log Out</a>
          </li>

          }
          <li><a href="edit">Edit</a></li>
          <li><a href="create">Create</a></li>
        </ul>
        }
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <app-log-in (IsLoggin)="a($event)"></app-log-in> -->
<!-- componente publicacion con subcomponentes de mostrar-producto
y descripcion-producto, asi con los demas de edit, crear -->

<footer>
  <div class="row-1"></div>
  <div class="row-2">
    <a href="https://github.com/Feev6r" target="_blank">
      <i class="fab fa-github" style="font-size: 40px; color: #666666;"></i>
    </a>
    <a href="https://www.linkedin.com/in/fernando-a15852270/" target="_blank">
      <i class="fab fa-linkedin" style="font-size: 40px; color: #666666;"></i>
    </a>
    <a href="mailto:fernandovillegass000@gmail.com" target="_blank">
      <i class="fas fa-envelope" style="font-size: 40px; color: #666666;"></i>
    </a>
  </div>
  <div class="row-3">
    <span>Ⓡ 2024 Copyright: Foodshop.com </span>
  </div>
</footer>